---
layout: page
title: "About"
description: "Hey, this is wangyapu."
header-img: "img/home-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>会十事，不如精一事。</p></blockquote>

    <p>我是<strong>王亚普</strong>，程序员 &amp; 软件开发工程师，毕业于河海大学，计算机科学与技术系，现就职于大众点评平台架构部门。</p>


    <h5>喜欢的博客</h5>

    <ul>
        <li><a href="http://www.importnew.com/">importnew</a></li>
        <li><a href="http://www.infoq.com/cn/">Info</a></li>
    </ul>




</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Better master one than engage with ten.</p></blockquote>

    <p>My name is <strong>Wang Yapu</strong>, software development engineer, Graduated from hohai university, computer science and technology</p>

    <p>As a engineer, I work at platform architecture department of dianping.</p>

    <h5>Favourite Blogs</h5>

    <ul>
        <li><a href="http://www.importnew.com/">importnew</a></li>
        <li><a href="http://www.infoq.com/cn/">Info</a></li>
    </ul>


</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
//        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        dsq.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//wangyapu0714.github.io/js/dsq_embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

{% if site.changyan_username %}
<!-- 畅言 评论框 start -->
<div class="comment">
    <div id="SOHUCS" ></div>
</div>
<!-- 畅言 评论框 end -->

<!-- 畅言 公共JS代码 start (一个网页只需插入一次) -->
<script charset="utf-8" type="text/javascript">
    (function() {
        var cy = document.createElement('script'); cy.type = 'text/javascript'; cy.async = true;
        cy.src = "https://changyan.sohu.com/upload/changyan.js";
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(cy);
    })();
</script>
<script type="text/javascript">
    window.changyan.api.config({
        appid: 'cysUXlWx5',
        conf: 'prod_4942ff5b5af83f77c4caaf316c8d0c96'
    });
</script>
<!-- 畅言 公共JS代码 end -->
{% endif %}
